.card-lg-plan{
  width: 100%;
  height: 825px;
  background-size: cover;
  position: relative;
  cursor: pointer;
  .overlay-card{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(22, 22, 23, 0.3);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    .container-text{
      width: 70%;
      color: white;
      padding: 30px 20px;
      text-align: right;
      display: flex;
      justify-content: center;
      flex-direction: column;
      p{font-family: 'Montserrat', sans-serif; font-size: 20px; }
      h4{font-family: Stonehole; font-size: 100px;}
      h2{
        font-family: 'Montserrat', sans-serif; 
        font-size: 50px; 
        font-weight: 100;
        margin-top: -20px;
        margin-bottom: -35px;
      }
    }
  }
}